includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
